<%= form_with(model: cel, class: "border p-4 rounded-lg bg-neutral-50 dark:bg-slate-800 border-slate-200 dark:border-slate-700 text-slate-900 dark:text-slate-100") do |form| %>
    <% if cel.errors.any? %>
      <div class="bg-red-100 dark:bg-red-900 text-red-800 dark:text-red-200 border-l-4 border-red-500 p-4 mb-4 rounded">
        <h2 class="font-bold"><%= pluralize(cel.errors.count, "error") %> prohibited this cel from being saved:</h2>
        <ul class="list-disc ml-5 mt-2">
          <% cel.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex gap-6">
      <div class="flex-1 flex gap-2">
        <%= form.text_field :name, class: "text-black rounded-md border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-700 shadow-sm" %>
        <%= form.text_field :url, class: "text-black flex-1 rounded-md border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-700 shadow-sm" %>
      </div>
      <div class="flex gap-2 mt-4">
        <%= form.submit local_assigns[:submit_text] || "Valider", class: 'px-3 py-1 rounded-lg bg-amber-100 dark:bg-amber-900 text-amber-800 dark:text-amber-200 text-sm' %>
        <% unless local_assigns[:no_back] == true %>
          <%= button_to 'Back', cels_path, class: 'px-3 py-1 rounded-lg bg-slate-100 dark:bg-slate-700 text-slate-800 dark:text-slate-200 text-sm' %>
        <% end %>

      </div>
    </div>
  <% end %>